# Root dependencies
/node_modules
/.pnp
.pnp.*

# Web app (WIP - Hidden)
web/

# CLI tool
cli/node_modules/
cli/dist/
cli/output/
cli/.env

# Misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
